body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.hacking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: url('images/images.jpeg') center/cover no-repeat;
}

.hacking-text {
  font-size: 24px;
  color: #ff0000;
  font-family: Helvetica;
  font-weight: bold;
  margin-bottom: 20px;
}

.progress-bar-container {
  width: 80%; /* Ensure it spans the full width */
  height: 20px; /* Adjust height as needed */
  background-color: #ddd; /* Placeholder background */
  border-radius: 5px; /* Optional rounded corners */
  overflow: hidden; /* Prevent content overflow */
}

.progress-bar {
  width: 0%; /* Start with 0 width */
  height: 100%; /* Fill the entire container height */
  background-color: green; /* Green fill color */
  animation: progress-fill 6s linear forwards; /* 6-second animation */
}

@keyframes progress-fill {
  0% {
    width: 0%; /* Start at 0 width */
  }
  100% {
    width: 100%; /* End at full width */
  }
}

img {
  max-width: 10%;
  height: auto;
  margin-bottom: 20px;
}

.final-message {
  font-size: 28px;
  color: #ff0000;
  font-weight: bold;
  margin-top: 20px;
  margin-left: -10px;
 }

.read-more-button {
  display: block;
  margin-top: 50px; /* Adjust the margin to move the button down */
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: #0056b3;
}
