body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.hacking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: url('images/images.jpeg') center/cover no-repeat;
}

.hacking-text {
  font-size: 24px;
  color: #00FF00;
  font-family: Helvetica;
  font-weight: bold;
  margin-bottom: 40px;
}

.progress-bar-container {
  position: relative;
  width: 80%; /* Ensure it spans the full width */
  height: 20px; /* Adjust height as needed */
  background-color: #ddd; /* Placeholder background */
  border-radius: 5px; /* Optional rounded corners */
  overflow: hidden; /* Prevent content overflow */
}

.progress-bar {
  width: 0%; /* Start with 0 width */
  height: 100%; /* Fill the entire container height */
  background-color: Blue; /* Green fill color */
  animation: progress-fill 6s linear forwards; /* 6-second animation */
}

@keyframes progress-fill {
  0% {
    width: 0%; /* Start at 0 width */
  }
  100% {
    width: 100%; /* End at full width */
  }
}

.percentage {
  font-size: 18px;
  font-family: Helvetica;
  color: #008B8B; /* Change to your desired color */
  position: absolute;
  top: 0px; /* Adjust the top position to place it above the progress bar */
  left: 50.7%;
  transform: translateX(-50%);
  z-index: 1;
}

img {
  max-width: 10%;
  height: auto;
  margin-bottom: 20px;
}

.final-message {
  font-size: 28px;
  color: #ff0000;
  font-weight: bold;
  margin-top: 30px;
  margin-left: -10px;
  font-style: italic;
 }

@keyframes flicker {
  0% {
    box-shadow: 0 0 5px 2px white, 0 0 10px 5px white;
  }
  50% {
    box-shadow: 0 0 5px 2px transparent, 0 0 10px 5px transparent;
  }
  100% {
    box-shadow: 0 0 5px 2px white, 0 0 10px 5px white;
  }
}

@keyframes beat {
  0%, 100% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
}

.read-more-button {
  display: block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  animation: flicker 1s infinite, beat 1s infinite; /* Pulsating and beating effects */
}

.read-more-button:hover {
  background-color: #0056b3;
  animation: none; /* Stop animation on hover */
}

audio {
  opacity: 0.9;
}

audio::-webkit-media-controls-panel {
  background-color: #56AEFF;
}
;
